* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.job-card {
  width: 1056px;
  margin: 0 auto;
  background-color: #f3f6ff;
  padding: 1px;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.card {
  width: 330px;
  background-color: #fff;
  padding: 48px 40px;
}
